@font-face {
    font-family: 'Hana2.0 B';
    src: url('Hana2-B.woff2') format('woff2'),
        url('Hana2-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

